<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPetrStore</title>
    <link rel="stylesheet" href="/css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <div id="BackLink">
        <a href="/account/editAccountForm">Return to My Account</a>
    </div>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Total Price</th>
        </tr>
        <tr th:each="Order : ${orderList}">
            <td><a th:href="@{/order/getOrderByOrderId(orderId=${Order.orderId})}" th:text="${Order.orderId}"></a></td>
            <td th:text="${Order.orderDate}">2</td>
            <td th:text="${Order.totalPrice}">3</td>
        </tr>
    </table>
</div>
<footer th:replace="common/bottom"></footer>
</body>

</html>