<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <div id="BackLink">
        <a href="/catalog/index">Return to Main Menu</a>
    </div>

    <div id="Catalog">

        <h2>Shopping Cart</h2>
        <form action="/cart/updateCart" method="post">
            <table>
                <tr>
                    <th><b>Item ID</b></th>
                    <th><b>Product ID</b></th>
                    <th><b>Description</b></th>
                    <th><b>In Stock?</b></th>
                    <th><b>Quantity</b></th>
                    <th><b>List Price</b></th>
                    <th><b>Total Cost</b></th>
                    <th>&nbsp;</th>
                </tr>
                <tr th:if="(${cartItemList.size()}==0)">
                    <td colspan="8"><b>Your cart is empty.</b></td>
                </tr>
                    <tr th:each="cartItem:${cartItemList}">
                        <td>
                            <a th:href="'/catalog/viewItem?itemId='+${cartItem.item.itemId}" th:text="${cartItem.item.itemId}"></a>
                        </td>
                        <td th:text="${cartItem.item.product.productId}">
                        </td>
                        <td th:text="${cartItem.item.attribute1}+${cartItem.item.product.name}">
                        </td>
                        <td id="isEmpty"></td>
                        </td>
                        <td><input type="text" name="quantity" id="quantity" th:value="${cartItem.quantity}"></td>
                        <td th:text="'$'+${cartItem.item.listPrice}"></td>
                        <td th:text="'$'+${cartItem.item.listPrice}*${cartItem.quantity}"></td>
                        <td>
                            <a class="Button" th:href="@{/cart/removeItemFromCart(itemId=${cartItem.item.itemId})}">Remove</a>
                        </td>
                    </tr>
                <tr>
                    <td colspan="7">
                        <label th:text="'Sub Total:$'+${cart.total}"></label>
                        <input type="submit" value="Update Cart" href="cart/updateCart">
                    </td>
                </tr>
                <tr>
                    <p th:if="${outOfStockMsg!=null}" th:text="${outOfStockMsg}"></p>
                </tr>
            </table>
        </form>

        <a class="Button" th:if="${cartItemList.size()}!=0" th:href="@{/order/newOrderForm}">
            Proceed to Checkout
        </a>


    </div>
</div>
<footer th:replace="common/bottom"></footer>
<script type="text/javascript" src="../js/updatePrice.js" charset = "UTF-8"></script>
<script type="text/javascript" src="../js/checkInventory.js" charset = "UTF-8"></script>
</body>
</html>