<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPetStore</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen" />
    <script src="/js/signIn.js" type="text/javascript"></script>
</head>
<body>
<script type="text/javascript">
    //刷新验证码
    function changeImg(){
        document.getElementById("validateCodeImg").src="${pageContext.request.contextPath}/draw?"+Math.random();
    }
</script>
<header th:replace="common/top"></header>
<div id="Content">
    <div id="Catalog">
        <form action="/account/signOn" method="post">
            Please enter your username and password.
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username"></td><br/>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password"></td><br/>
                </tr>
                <tr>
                    <td>Phone Number:</td>
                    <td><input type="text" id="phoneNumber" value="18374777402"/></td>
                </tr>
                <tr>
                    <td><a class="Button" name="sendButton" href="javascript:void(0)" onclick="sendVerificationCode()">send verification code to phone</a></td>
                </tr>
                <tr>
                    <td>Verification:</td>
                    <td><input type="text" name="inputCode"></td><br/>
                    <td style="display:none;"><a href=""><img src="/verCode"></a></td>
                </tr>

            </table>
            <p th:if="${msg!=null}" th:text="${msg}"></p>
            <input type="submit" value="signOn">
        </form>
        Need a user name and password?
        <a href="/account/newAccountForm">Register Now!</a>
    </div>
</div>

<footer th:replace="common/bottom"></footer>
</body>
</html>