<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.CategoryMapper">
    <select id="getCategory" parameterType="string" resultType="Category">
    SELECT
            CATID AS categoryId,
            NAME,
            DESCN AS description
        FROM CATEGORY
        WHERE CATID = #{categoryId}
    </select>
    <insert id="addCategory" parameterType="Category">
        INSERT INTO Category
             (CATID, NAME, DESCN)
        VALUES (#{categoryId}, #{name }, #{description})
    </insert>
    <update id="updateCategory" parameterType="Category">
        UPDATE category SET
             NAME = #{name },
             DESCN = #{description}
        WHERE CATID = #{categoryId}
    </update>
    <delete id="deleteCategory" parameterType="string">
        DELETE FROM category where CATID = #{categoryId}
    </delete>
</mapper>