<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.ProductMapper">
    <select id="getProduct" parameterType="string" resultType="Product">
    SELECT
      PRODUCTID,
      NAME,
      DESCN as description,
      CATEGORY as categoryId
    FROM PRODUCT
    WHERE PRODUCTID = #{productId}
  </select>

    <select id="getProductListByCategory" parameterType="string" resultType="Product">
    SELECT
      PRODUCTID,
      NAME,
      DESCN as description,
      CATEGORY as categoryId
    FROM PRODUCT
    WHERE CATEGORY = #{value}
  </select>
    <select id="searchProductList" parameterType="string" resultType="Product">
        SELECT
            PRODUCTID,
            NAME,
            DESCN as description,
            CATEGORY as categoryId
        FROM PRODUCT
        WHERE lower(name) like #{value}
    </select>
    <insert id="addProduct" parameterType="Product">
        INSERT INTO product
             (productid, category, name, descn)
        VALUES (#{productId}, #{categoryId }, #{name}, #{description})
    </insert>
    <update id="updateProduct" parameterType="Product">
        UPDATE product set
            category = #{categoryId },
            name = #{name},
            descn =  #{description}
        WHERE productid = #{productId}
    </update>
    <delete id="deleteProduct" parameterType="string">
        DELETE FROM product WHERE productid = #{productId}
    </delete>
</mapper>